body, footer {
font-family: 'Exo 2', sans-serif;
}

.top {
    display: grid;
    grid-template-columns: auto auto;
    border-style: solid;
    border-color: rgb(200, 40, 125);
    border-radius: 10px;
}
